<?xml version="1.0"?>
<configuration>
    <system.net>
        <connectionManagement>
            <add address="*" maxconnection="65000" />
        </connectionManagement>
        <defaultProxy enabled="false">
            <proxy/>
            <bypasslist/>
            <module/>
        </defaultProxy>
    </system.net>
    <appSettings>
        <add key="siteURL" value="http://shackapi.stonedonkey.com/"/>
        <add key="threadCacheSize" value="10000"/>
        <add key="Rassoc.Samples.BasicAuthenticationModule_Realm" value="shack-api-net"/>
    </appSettings>
    <system.web>
        <customErrors mode="Off"/>
        <trace pageOutput="false" requestLimit="10" enabled="false" localOnly="false" traceMode="SortByTime" mostRecent="true"/>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add name="BasicAuthenticationModule" type="ShackApiNet.Autentication.BasicAuthenticationModule"/>
            <add name="UrlRewriteModule" type="ShackApiNet.Modules.UrlRewriteModule"/>
        </httpModules>
        <authentication mode="None">
        </authentication>
        <compilation targetFramework="4.0" debug="false">
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="JSON Map" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
            <add name="XMLMap" path="*.xml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
        </handlers>
    </system.webServer>
</configuration>