<?xml version="1.0"?>
<configuration>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65000"/>
    </connectionManagement>
    <defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="siteURL" value="http://shackapi.stonedonkey.com/"/>
    <add key="threadCacheSize" value="10000"/>
    <add key="Rassoc.Samples.BasicAuthenticationModule_Realm" value="shack-api-net"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <trace pageOutput="false" requestLimit="10" enabled="false" localOnly="false" traceMode="SortByTime" mostRecent="true"/>
    <httpModules>
      <add name="BasicAuthenticationModule" type="ShackApiNet.Autentication.BasicAuthenticationModule"/>
      <add name="UrlRewriteModule" type="ShackApiNet.Modules.UrlRewriteModule"/>
    </httpModules>
    <authentication mode="None"/>
    <compilation debug="false" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="JSON Map" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
      <add name="XMLMap" path="*.xml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
    </handlers>
  </system.webServer>
</configuration>